<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/assets/css/styles.css"/>
  <title>User Index</title>
</head>
<body>
  <a href="/users/new">Add New User</a>
  <h1>All Users</h1>
  <ul>
    <% users.forEach((user) => { %>
      <li>
        <a href="/users/<%=user._id%>">
         Look at all post by <%= user.name %>
        </a>
      </li>
    <% }) %>
  </ul>
</body>
</html>