<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/assets/css/styles.css"/>
  <title>Create an Account!</title>
</head>
<body>
  <h1>Create an Account!</h1>
  <form action="/users" method="POST">
    <label for="email">Email:</label>
    <input type="email" name="email" id="email" />
    <label for = 'password'>Password:</label>
    <input type="password" name = 'password' id = 'password'>
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" />
    <button type="submit">Add User</button>
  </form>
  <a href="/users/">Back to restaurant listings!</a>
</body>
</html>