<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/assets/css/styles.css"/>
  <title>Make a Post</title>
</head>
<body>
  <h1>Make a Post</h1>
  <form action="/posts/" method="POST">
    <label for="title">Title:</label>
    <input type="text" name="title" id="title"/>
    <label for="content">Write Post Content Here:</label>
    <input type="text" name="content" id="content" />
    <button type="submit">Make Post</button>
  </form>
  <a href="/posts/"> Take you to Post Page</a>
</body>
</html>